* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  overflow-y: hidden;
  font-family: "Space Mono", monospace;
}

.webgl {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

nav {
  color: white;
  z-index: 2;
  position: relative;
  display: flex;
  padding: 3rem 6rem;
  justify-content: space-between;
  gap: 4rem;
}

nav a {
  text-decoration: none;
  font-weight: bold;
  color: white;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 4rem;
}

.title {
  color: white;
  z-index: 2;
  position: absolute;
  font-size: 3rem;
  left: 45%;
  top: 85%;
  transform: translate(-35%, -75%);
  text-align: center;
}
